body {
  color: white;
  background-image: url("images/universe.jpg");
  background-size: cover;
  font-family: 'Orbitron', sans-serif;
}

h1 {
    text-align: center;
}

.btn-apply {
    font-family: inherit;
    display: block;
    margin: auto;
    padding: 6px 12px;
    border-style: none;
    border-radius: 0;
    background: white;
}
